<div class="row">
    <div class="col-md-4">
        <a href="{{@BASE}}{{ 'categorianuovo2' | alias }}" class="btn btn-primary btn-block btn-lg">NUOVA CATEGORIA II LIVELLO</a><br>
    </div>
    <div class="col-md-4">
        <a href="{{@BASE}}{{ 'categorianuovo3' | alias }}" class="btn btn-primary btn-block btn-lg">NUOVA CATEGORIA III LIVELLO</a><br>
    </div>
    <div class="col-md-4">
        <a href="{{@BASE}}{{ 'categorianuovo4' | alias }}" class="btn btn-primary btn-block btn-lg">NUOVA CATEGORIA IV LIVELLO</a><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-11">Categorie - I livello</th>
                <th scope="col" class="col-1">#</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @categoria1 }}" value="{{ @item }}">
                <tr class="d-flex">
                    <td class="col-11">{{ @item.descrizione }}</td>
                    <th scope="row" class="col-1"><a href="{{@BASE}}/categoria/cancella1/{{ @item.id }}" class="btn btn-danger btn-sm">X</a></th>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-11">Categorie - II livello</th>
                <th scope="col" class="col-1">#</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @categoria2 }}" value="{{ @item }}">
                <tr class="d-flex">
                    <td class="col-11">{{ @item.cat1 }} / {{ @item.cat2 }}</td>
                    <th scope="row" class="col-1"><a href="{{@BASE}}/categoria/cancella2/{{ @item.id }}" class="btn btn-danger btn-sm">X</a></th>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-11">Categorie - III livello</th>
                <th scope="col" class="col-1">#</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @categoria3 }}" value="{{ @item }}">
                <tr class="d-flex">
                    <td class="col-11">{{ @item.cat1 }} / {{ @item.cat2 }} / {{ @item.cat3 }}</td>
                    <th scope="row" class="col-1"><a href="{{@BASE}}/categoria/cancella3/{{ @item.id }}" class="btn btn-danger btn-sm">X</a></th>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-11">Categorie - IV livello</th>
                <th scope="col" class="col-1">#</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @categoria4 }}" value="{{ @item }}">
                <tr class="d-flex">
                    <td class="col-11">{{ @item.cat1 }} / {{ @item.cat2 }} / {{ @item.cat3 }} / {{ @item.cat4 }}</td>
                    <th scope="row" class="col-1"><a href="{{@BASE}}/categoria/cancella4/{{ @item.id }}" class="btn btn-danger btn-sm">X</a></th>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>