<h2>Aggiungi movimento</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        <a href="{{@BASE}}/movimento/nuovo/2" class="btn btn-success btn-block btn-lg">NUOVA ENTRATA</a><br>
    </div>
    <div class="col-md-6">
        <a href="{{@BASE}}/movimento/nuovo/1" class="btn btn-danger btn-block btn-lg">NUOVA SPESA</a><br>
    </div>
</div>
<h2>Lista</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered dt-responsive" id="table_id" style="width:100%">
            <thead>
                <tr>
                    <th class="text-right">Importo</th>
                    <th class="">Data</th>
                    <th class="">Categoria</th>
                    <th class="">Note</th>
                    <th class="">Cancella</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @lista }}" value="{{ @item }}">
                    <tr>
                        <td class="text-right">{{ @euro(@item.importo) }}</td>
                        <td class="">{{ @convertiData(@item.giorno) }}</td>
                        <td class="">{{ @unisci(@item.des1,@item.des2,@item.des3,@item.des4) }}</td>
                        <td class="">{{ @item.note }}</td>
                        <th class=""><a href="cancella/{{ @item.id }}" class="btn btn-danger btn-sm">X</a></th>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </div>
</div>