<div class="row">
    <div class="col-md-12">
        <ul>
            <repeat group="{{ @categoria4 }}" value="{{ @item }}">
                <li>{{ @item.cat1 }}/{{ @item.cat2 }}/{{ @item.cat3 }}/{{ @item.cat4 }} ({{ @item.id }}) </li>
            </repeat>
        </ul>

        <hr>
        <ul>
            <repeat group="{{ @categoria1 }}" value="{{ @item }}">
                <li>{{ @item.descrizione }} ({{ @item.id }})</li>
            </repeat>
        </ul>

        <ul>
            <repeat group="{{ @categoria2 }}" value="{{ @item }}">
                <li>{{ @item.madre }}/{{ @item.descrizione }} ({{ @item.id }}) </li>
            </repeat>
        </ul>

        <ul>
            <repeat group="{{ @categoria3 }}" value="{{ @item }}">
                <li>{{ @item.cat1 }}/{{ @item.cat2 }}/{{ @item.descrizione }} ({{ @item.id }}) </li>
            </repeat>
        </ul>
    </div>
</div>