<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Home' }} "><true>active</true></check> " href="{{@BASE}}{{ 'home' | alias }}">
        <span data-feather="home"></span>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Nuovo' }} "><true>active</true></check>" href="{{@BASE}}{{ 'nuovo' | alias }}">
        <span data-feather="file"></span>
        Nuovo
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Lista' }} "><true>active</true></check>" href="{{@BASE}}{{ 'lista' | alias }}">
        <span data-feather="layers"></span>
        Lista
      </a>
    </li>
  </ul>
</div>
